.form{
  display: flex;
  flex-direction: column;

  .input__text{
    font-size: medium;
    height: 30px;
    width: 190px;
    padding: 5px;
    border: 0;
    background-color: rgb(206, 206, 206);

   &:focus{
      border: 0;
      outline: none;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    }
  
    &:hover{
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    }
  }



  .input__btn{
    text-transform: uppercase;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    padding: 0;
    border: 0;
    background-color: rgb(206, 206, 206);
    cursor: pointer;

    &:hover{
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    }
  
    &:active{
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
  }
}