.modal{
  position: fixed;
  width: 100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content{
  position:fixed;
  z-index: 7;
  left: 35%;
  top: 100px;
  width: 350px;
  height: 250px;
  border: 1px solid #000000;
  background-color:  #212C42;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {

  .modal__content{
    position: fixed;
    z-index: 7;
    top: 150px;
    left: 1%;
    right: 1%;
    width: 325px;
    height: 200px;
    background-color:  #212C42;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}