.sidebar{
  position: absolute;
  min-width: 180px;
  min-height: 390px;
  left: 2.5px;
  top: 130px;
  display: flex;
  justify-content: flex-start;

  .sidebar__list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .list__item{
      list-style: none;
      display: flex;
      align-items: center;
      padding: 5px;

      img{
        height: 20px;
        margin: 5px;
      }
  
      .link{
        font-size: x-small;
        text-decoration: none;
        color: #8B97AE;
        margin: 5px;
        
      }
  
      .link:hover{
        color: white;
        font-size: 11px;
      }
    }
  }
}


@media (max-width: 767px) {
  .sidebar{
    left: 0;
    margin: auto;
    padding: 5px 0px 0px 0px;
    position: fixed;
    top: -1500px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    background-color: #212C42;
    transition: top 1s ease 0s ;
    z-index: 4;

    .sidebar__list{
      height: 95vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      padding: 0;

      .list__item{

        .link{
          font-size: 17px;
          text-decoration: none;
          color: #8B97AE;
          margin: 5px;
        }
  
        .link:hover{
          color: white;
        }
      }
    }
  }

  .sidebar._active{
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 25px;

    .sidebar__list{

      .list__item{

        .link{
          font-size: 17px;
          text-decoration: none;
          color: #8B97AE;
          margin: 5px;
          
        }
    
        .link:hover{
          color: white;
        }
      }
    }
  }
}